<!DOCTYPE html>
<html>
    <head>
        <title>Connect4 JS</title>
        <link REL="StyleSheet" TYPE="text/css" HREF="main.css">
        <script data-main="lib/main" src="/lib/require.js"></script>
    </head>
    <body ng-controller="GameController">
		<p ng-show="message">{{message}}</p>
		<div id="bgHome">
			<div id="contentWrapper">
				<table id="gameBoard" width="100%">
					<tr>
						<th><button ng-click="drop(1)">Column 1</button></th>
						<th><button ng-click="drop(2)">Column 2</button></th>
						<th><button ng-click="drop(3)">Column 3</button></th>
						<th><button ng-click="drop(4)">Column 4</button></th>
						<th><button ng-click="drop(5)">Column 5</button></th>
						<th><button ng-click="drop(6)">Column 6</button></th>
						<th><button ng-click="drop(7)">Column 7</button></th>
						<th><button ng-click="drop(8)">Column 8</button></th>
						<th><button ng-click="drop(9)">Column 9</button></th>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</div>
<!-- 			
			<div id="buttonwrapper">
				<button type="button" value="normal" id="moveNormal" ng-click="move('normal')"><img src="/images/raindeer_btn.png" /></button>
				<button type="button" value="explode" id="moveExplode" ng-click="move('explode')"><img src="/images/bomb_btn.jpg" /></button>
				<button type="button" value="invert_row" id="moveInvertRow" ng-click="move('invertRow')"><img src="/images/reverse_btn.png" /></button>
				<button type="button" value="invert_column" id="moveInvertColumn" ng-click="move('invertColumn')"><img src="/images/vertical_btn.png" /></button>
			</div> -->
		</div>

	</body>
</html>
